@font-face {
    font-family: "Camphor Pro Bold";
    src: url(Police/CamphorPro-Bold.otf);
}
@font-face {
    font-family: "Camphor Pro";
    src: url(Police/CamphorPro-Thin.otf);
}

@font-face {
    font-family: "Camphor Pro Medium";
    src: url(Police/CamphorPro-Medium.otf);
}

@media screen and (max-width:800px)
{

}


body
{
    background-color: white;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    width:100%;
}

p, h2, h1
{
    width: 50%;
    text-align: center;
    position: center;
    margin-left: auto;  
    font-family: "Camphor Pro";
}


.Image
{
    width: 100%;
    height: auto;

}

ul
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: center;
    font-family: "Camphor Pro Bold";
    align-items: center;
    margin:0;
    padding: 0;

}

li
{
    border : 2px solid black;
    padding: 40px 60px 30px 60px;
    margin: 7vh 3vh 7vh 3vh;
    width: 10vw;
    min-height: 5vh;
    color: #00000080;
    font-size: 2vh;
    text-align: center;
    border-radius: 3px;
}

#banniere
{
    background: url("Objet_co/encore_une_lampe.jpg");
    background-size: cover ;
    height: 60vw;
    min-height: 800px;
    max-width: 100vw;
    border-style: none;
    
}

#GoogleIt
{
    position: absolute;
    left: 7vh;
    top: 112vh;
    width: 30vh;
    
}

#Titreproduit
{
    font-family: "Camphor Pro Bold",sans-serif;
    font-size: 4em;
    width:80vh;
    display: flex;
}

#refproduit
{
    font-family: "Camphor Pro", sans-serif;
    font-size: 3vh;
    color: #a47a50;
    border:2px #a47a50 solid;
    padding: 5px 10px 5px 10px;
    position: absolute;
    left:73.5vh;
    top: 1vh;
    width: 20vh;

}

#Slogan_Produit
{
    font-family:"Camphor Pro", Arial,sans-serif;
    font-size: 4vh;
    color: #00000080;
    text-align: left;
    display: inline-block;
    margin: 30px 0px 0px 0px;
    position: absolute;
    left: 26vh;
    top: 55vh;
    width: 80vh;

}

#N1
{
    background: url("Objet_co/lumiere_salon.jpg");
    background-size: cover ;
    height: 65vw;
    min-height: 800px;
    max-width:100vw;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

#paragraphe_N1
{
    width: 115vh ;
    color: #FFFFFF;
    font-size: 1.3em;
    justify-content: center;

}

#N2
{
    background: url("Objet_co/repas_de_famille.jpg");
    background-size: cover ;
    height: 60vw;
    min-height: 800px;
    max-width: 99.3vw;
    padding : 10vh 0px 0px 1vh;  
    border-style: none;
    color: black;
}

#titre_N2, #titre_N3
{
    font-size: 4.8vh;
    font-family: "Camphor Pro Bold";
    margin-bottom: 0;
}

#paragraphe_N2, #paragraphe_N3
{ 
    font-size: 2.5vh;
    width: 115vh;
    color: #999999;
    text-align: center;
}

#N3
{
    background: url("Objet_co/tel_fonction.jpg");
    background-size: cover;
    height: 60vw;
    min-height: 800px;
    padding : 10vh 0px 0px 1vh;  
    border-style: none;
    color: black;
}

#N4
{
    background: url("Objet_co/salon.jpg");
    background-size: cover;
    height: 60vw;
    min-height: 800px;
    padding : 10vh 0px 0px 1vh;  
    border-style: none;
    color: black;
}

#titre_N4
{
    font-size: 4.8vh;
    font-family: "Camphor Pro Bold";
    color: white;
    margin-bottom: 0vh;
}

#paragraphe_N4
{ 
    font-size: 2.5vh;
    width: 115vh;
    color: white;
    padding-left: 0vh;
    padding-right: 0vh;
    margin-top: 0vh;
    text-align: center;
}

#N5
{
    background: url("Objet_co/application.jpg");
    background-size: cover ;
    height: 60vw;
    min-height: 800px;
    padding : 10vh 0px 0px 1vh;  
    border-style: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#titre_N5
{
    font-size: 4.8vh;
    font-family: "Camphor Pro Bold";
    margin: 0vh 5vh 5vh 18vh;
    width: 90vh;
    text-align: left;


}

#paragraphe_N5
{ 
    font-size: 2.5vh;
    width: 90vh;
    color: #999999;
    margin: 0vh 5vh 5vh 18vh;
    text-align: left;


}

#N6
{
    background: url("Objet_co/famille_parfaite.jpg");
    background-size: cover;
    height: 60vw;
    min-height: 800px;
    padding : 10vh 0px 0px 1vh;  
    border-style: none;
    color: black;
}

#titre_N6
{
    font-size: 4.8vh;
    font-family: "Camphor Pro Bold";
    margin-bottom: 0vh;
    width: 110vh;
}

#paragraphe_N6
{ 
    font-size: 2.3vh;
    width: 110vh;
    color: #999999;
    padding-left: 0vh;
    padding-right: 0vh;
    margin-top:4vh;
    text-align: center;
}

#N7
{
    background: url("Objet_co/lampe.jpg");
    background-size: cover;
    height: 60vw;
    min-height: 800px;
    padding : 10vh 0px 0px 1vh;  
    border-style: none;
    color: black;
}

#titre_N7
{
    font-size: 4.8vh;
    font-family: "Camphor Pro Bold";
    margin-bottom: 0vh;
    width: 110vh;
}

#paragraphe_N7
{ 
    font-size: 2.3vh;
    width: 105vh;
    color: #999999;
    padding-left: 0vh;
    padding-right: 0vh;
    margin-top:4vh;
    text-align: center;
}

#N8
{
    background: url("Objet_co/2500_hours.jpg");
    background-size: cover;
    height: 60vw;
    min-height: 800px;
    padding : 10vh 0px 0px 1vh;  
    border-style: none;
    color: black;
}

#titre_N8
{
    font-size: 4.8vh;
    font-family: "Camphor Pro Bold";
    margin-bottom: 0vh;
    width: 110vh;
}

#paragraphe_N8
{ 
    font-size: 2.3vh;
    width: 110vh;
    color: #999999;
    padding-left: 0vh;
    padding-right: 0vh;
    margin-top:4vh;
    text-align: center;
}

#N9
{
    text-decoration: none;
    font-family:"Camphor Pro" ;
    color: white;
    padding-left: 0vh;
    padding-right: 0vh; 
}

#titre_N9
{
    background-color: #191919;
    border-radius: 1vh;
    padding-left: 0vh;
    padding-right: 0vh;
}

#N9:hover
{
    color:#999999;
}





